html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

li {
  font-size: .8rem;
}

blockquote {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}
img {
  width: 100%;
}

nav li {

  font-size: 1.125rem;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5;
}

a {
  color: #8f2440;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
}
